# ***Series***

***Import Libraries***

In [1]:
import numpy as np
import pandas as pd

***Creating series***

In [2]:
#Creating series from scaler values
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [3]:
print(myvar[1])

7

***Assign user-defined labels to the index***

In [4]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
print(myvar['y'])

7

***Creation of Series from NumPy Arrays***

In [6]:
arr= np.array([1,7,2])
myvar = pd.Series(arr)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [7]:
#Assign labels to the series created from array
myvar = pd.Series(arr, index = ["Jan",
"Feb", "Mar"])
print(myvar)

Jan    1
Feb    7
Mar    2
dtype: int64

***Creation of Series from Dictionary***

In [8]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

***Slicing***

In [9]:
print(myvar[0:2])

day1    420
day2    380
dtype: int64

**Methods of series**

In [10]:
myvar.head(2)

day1    420
day2    380
dtype: int64

In [11]:
myvar.count()

3

In [12]:
myvar.tail(2)

day2    380
day3    390
dtype: int64

***Addition of two series***

In [13]:
# creating 2 Pandas Series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

# adding the 2 Series
s = s1 + s2

# displaying the result
print(s)

0     7
1     9
2    11
3    13
4    15
dtype: int64

***Subtraction of two Series***

In [14]:
# creating 2 Pandas Series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

# subtracting the 2 Series
s3 = s2 - s1

# displaying the result
print(s3)

0    5
1    5
2    5
3    5
4    5
dtype: int64

***Multiplication of two Series***

In [15]:
# creating 2 Pandas Series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

# multiplying the 2 Series
s = s1 * s2

# displaying the result
print(s3)

0    5
1    5
2    5
3    5
4    5
dtype: int64

***Division of two Series***

In [16]:
# creating 2 Pandas Series
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

# dividing the 2 Series
s3 =s1 / s2

# displaying the result
print(s3)

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

# ***Data Frame***

In [17]:
import pandas as pd

***Creation of an empty DataFrame***

In [18]:
dFrameEmt = pd.DataFrame()
dFrameEmt

Empty DataFrame
Columns: []
Index: []

***Creation of DataFrame from NumPy ndarrays***

In [19]:
# creating the Numpy array
array = np.array([[1, 1, 1], [2, 4, 8], [3, 9, 27],
                  [4, 16, 64], [5, 25, 125], [6, 36, 216],
                  [7, 49, 343]])

# creating a list of index names
index_values = ['first', 'second', 'third',
                'fourth', 'fifth', 'sixth', 'seventh']

# creating a list of column names
column_values = ['number', 'squares', 'cubes']

# creating the dataframe
df = pd.DataFrame(data = array,
                  index = index_values,
                  columns = column_values)

# displaying the dataframe
df

         number  squares  cubes
first         1        1      1
second        2        4      8
third         3        9     27
fourth        4       16     64
fifth         5       25    125
sixth         6       36    216
seventh       7       49    343

***Creation of DataFrame from List of Dictionaries***

In [20]:
# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]

df = pd.DataFrame.from_records(data,index=['1', '2'])
df

       Geeks    For geeks
1  dataframe  using  list
2         10     20    30

***Creation of DataFrame from Dictionary of Lists***

In [21]:
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

***Creation of DataFrame from Series***

In [22]:
# Creating a list
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
# Creating a Series by passing list
# variable to Series() function
auth_series = pd.Series(author)
# Printing Series
auth_series

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

***Creation of DataFrame from Dictionary of Series***

In [23]:
ResultSheet={
    'Arnab': pd.Series([90, 91, 97],index=['Maths','Science','Hindi']),
    'Ramit': pd.Series([92, 81, 96],index=['Maths','Science','Hindi']),
    'Samridhi': pd.Series([89, 91, 88],index=['Maths','Science','Hindi']),
    'Riya': pd.Series([81, 71, 67],index=['Maths','Science','Hindi']),
    'Mallika': pd.Series([94, 95, 99],index=['Maths','Science','Hindi'])}
ResultDF = pd.DataFrame(ResultSheet)
ResultDF

         Arnab  Ramit  Samridhi  Riya  Mallika
Maths       90     92        89    81       94
Science     91     81        91    71       95
Hindi       97     96        88    67       99

***Adding a New Column to a DataFrame***

In [24]:
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Using DataFrame.insert() to add a column
df.insert(2, "Age", [21, 23, 24, 21], True)

# Observe the result
df

     Name  Height  Age Qualification
0     Jai     5.1   21           Msc
1  Princi     6.2   23            MA
2  Gaurav     5.1   24           Msc
3    Anuj     5.2   21           Msc

***Adding a New Row to a DataFrame***

In [25]:
dict = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]
       }

df = pd.DataFrame(dict)

display(df)

df.loc[len(df.index)] = ['Amy', 89, 93]

display(df)

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76
4      Amy     89       93

***Deleting Rows or Columns from a DataFrame***

In [26]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [27]:
# Drop column
df.drop(columns=['B'], inplace=True)
df

   A
0  1
1  2
2  3

In [28]:
# Drop row
df.drop([0, 1], inplace=True)
df

   A
2  3

***Renaming Column Labels of a DataFrame***

In [29]:
# Create a dataFrame using dictionary
df=pd.DataFrame({"Name":['Tom','Nick','John','Peter'],
                "Age":[15,26,17,28]})

# Creates a dataFrame with
# 2 columns and 4 rows
df

    Name  Age
0    Tom   15
1   Nick   26
2   John   17
3  Peter   28

In [30]:
# Change the column names
df.columns =['Col_1', 'Col_2']

# Change the row indexes
df.index = ['Row_1', 'Row_2', 'Row_3', 'Row_4']

# printing the data frame
df

       Col_1  Col_2
Row_1    Tom     15
Row_2   Nick     26
Row_3   John     17
Row_4  Peter     28

***Renaming Row Labels of a DataFrame***

In [31]:
# To change the row indexes
df = pd.DataFrame({"A":['Tom','Nick','John','Peter'],
                "B":[25,16,27,18]})

# this will increase the row index value by 10 for each row
df = df.rename(index = lambda x: x + 10)

df

        A   B
10    Tom  25
11   Nick  16
12   John  27
13  Peter  18

***Label Based Indexing of dataframe***

In [32]:
# Creating a Data frame
df = pd.DataFrame([['1993', 'x', 5, 4, 7, 2],
                   ['1994', 'v', 10, 1, 2, 0],
                   ['1995', 'z', 2, 1, 4, 12],
                   ['1996', 'y', 2, 1, 10, 1],
                   ['1998', 'x', 2, 10, 40, 12],
                   ['1999', 'x', 5, 8, 11, 6]],
                  columns=('Year', 'Alpha', 'x', 'y', 'z', 'v'))

# Display Data frame
df

   Year Alpha   x   y   z   v
0  1993     x   5   4   7   2
1  1994     v  10   1   2   0
2  1995     z   2   1   4  12
3  1996     y   2   1  10   1
4  1998     x   2  10  40  12
5  1999     x   5   8  11   6

In [33]:
# Using loc
df.loc[df['Year'] == '1993', 'Alpha']

0    x
Name: Alpha, dtype: object

***Boolean Indexing***

In [34]:
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict, index = [True, False, True, False])

df

         name  degree  score
True   aparna     MBA     90
False  pankaj     BCA     40
True   sudhir  M.Tech     80
False   Geeku     MBA     98

***Joining, Merging and Concatenation of DataFrames***

In [35]:
# Concat
# Creating first dataframe
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

# Creating second dataframe
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

# Creating third dataframe
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

# Concatenating the dataframes
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [36]:
# Marging
# Dataframe created
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

# Merging the dataframes
pd.merge(left, right, how='inner', on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [37]:
# Join
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']},
                    index=['K0', 'K1', 'K2', 'K3'])

right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']},
                     index=['K0', 'K1', 'K2', 'K3'])

# Joining the dataframes
left.join(right)

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

***Calculating Maximum Values***

In [38]:
# List of Tuples
matrix = [(10, 56, 17),
          (np.NaN, 23, 11),
          (49, 36, 55),
          (75, np.NaN, 34),
          (89, 21, 44)
          ]
# Create a DataFrame
abc = pd.DataFrame(matrix, index=list('abcde'), columns=list('xyz'))

# output
abc

      x     y   z
a  10.0  56.0  17
b   NaN  23.0  11
c  49.0  36.0  55
d  75.0   NaN  34
e  89.0  21.0  44

In [39]:
abc.max()

x    89.0
y    56.0
z    55.0
dtype: float64

***Calculating Minimum values***

In [40]:
abc.min()

x    10.0
y    21.0
z    11.0
dtype: float64

***Calculating Sum of Values***

In [41]:
print(abc.sum())

x    223.0
y    136.0
z    161.0
dtype: float64

***Calculating Number of Values***

In [42]:
abc.count()

x    4
y    4
z    5
dtype: int64

In [43]:
abc.count(axis=1) ##counting in row

a    3
b    2
c    3
d    2
e    3
dtype: int64

***Calculate the mean***

In [44]:
# Calculate the mean of numeric columns only
abc.select_dtypes(include='number').mean()

x    55.75
y    34.00
z    32.20
dtype: float64

***Calculating the mode***

In [45]:
# Calculate the mode of each column in the DataFrame
for column in abc.columns:
    print(f"Mode of {column}: {abc[column].mode()}")

Mode of x: 0    10.0
1    49.0
2    75.0
3    89.0
Name: x, dtype: float64
Mode of y: 0    21.0
1    23.0
2    36.0
3    56.0
Name: y, dtype: float64
Mode of z: 0    11
1    17
2    34
3    44
4    55
Name: z, dtype: int64

***Calculating the median***

In [46]:
# Calculate the median of numeric columns only
abc.select_dtypes(include='number').median()

x    62.0
y    29.5
z    34.0
dtype: float64

***Calculating Quartile***

In [47]:
abc.quantile()

x    62.0
y    29.5
z    34.0
Name: 0.5, dtype: float64

In [48]:
abc.quantile(0.25)

x    39.25
y    22.50
z    17.00
Name: 0.25, dtype: float64

In [49]:
abc.quantile(0.5)

x    62.0
y    29.5
z    34.0
Name: 0.5, dtype: float64

In [50]:
abc.quantile(0.75)

x    78.5
y    41.0
z    44.0
Name: 0.75, dtype: float64

***Calculating Variance***

In [51]:
abc.var()

x    1204.916667
y     259.333333
z     335.700000
dtype: float64

***Calculating Standard Deviation***

In [52]:
abc.std()

x    34.711910
y    16.103830
z    18.322118
dtype: float64

In [53]:
abc.describe()

              x         y          z
count   4.00000   4.00000   5.000000
mean   55.75000  34.00000  32.200000
std    34.71191  16.10383  18.322118
min    10.00000  21.00000  11.000000
25%    39.25000  22.50000  17.000000
50%    62.00000  29.50000  34.000000
75%    78.50000  41.00000  44.000000
max    89.00000  56.00000  55.000000

***Data Aggregation***

In [54]:
abc.aggregate(['min','max','sum'])

         x      y    z
min   10.0   21.0   11
max   89.0   56.0   55
sum  223.0  136.0  161

In [55]:
abc.aggregate(['min','max','sum'],axis=1)

    min   max    sum
a  10.0  56.0   83.0
b  11.0  23.0   34.0
c  36.0  55.0  140.0
d  34.0  75.0  109.0
e  21.0  89.0  154.0

***Sorting a Dataframe***

In [56]:
# creating and initializing a nested list
age_list = [['Afghanistan', 1952, 8425333, 'Asia'],
            ['Australia', 1957, 9712569, 'Oceania'],
            ['Brazil', 1962, 76039390, 'Americas'],
            ['China', 1957, 637408000, 'Asia'],
            ['France', 1957, 44310863, 'Europe'],
            ['India', 1952, 3.72e+08, 'Asia'],
            ['United States', 1957, 171984000, 'Americas']]

# creating a pandas dataframe
df = pd.DataFrame(age_list, columns=['Country', 'Year',
                                     'Population', 'Continent'])

df

         Country  Year   Population Continent
0    Afghanistan  1952    8425333.0      Asia
1      Australia  1957    9712569.0   Oceania
2         Brazil  1962   76039390.0  Americas
3          China  1957  637408000.0      Asia
4         France  1957   44310863.0    Europe
5          India  1952  372000000.0      Asia
6  United States  1957  171984000.0  Americas

In [57]:
# Sorting by column 'Country'
df.sort_values(by=['Country'])

         Country  Year   Population Continent
0    Afghanistan  1952    8425333.0      Asia
1      Australia  1957    9712569.0   Oceania
2         Brazil  1962   76039390.0  Americas
3          China  1957  637408000.0      Asia
4         France  1957   44310863.0    Europe
5          India  1952  372000000.0      Asia
6  United States  1957  171984000.0  Americas

In [58]:
# Sorting by column "Population"
df.sort_values(by=['Population'], ascending=False)

         Country  Year   Population Continent
3          China  1957  637408000.0      Asia
5          India  1952  372000000.0      Asia
6  United States  1957  171984000.0  Americas
2         Brazil  1962   76039390.0  Americas
4         France  1957   44310863.0    Europe
1      Australia  1957    9712569.0   Oceania
0    Afghanistan  1952    8425333.0      Asia

In [59]:
# Sorting by columns "Country" in descending
# order and then "Continent" in ascending order

df.sort_values(by=['Country', 'Continent'],
               ascending=[False, True])

         Country  Year   Population Continent
6  United States  1957  171984000.0  Americas
5          India  1952  372000000.0      Asia
4         France  1957   44310863.0    Europe
3          China  1957  637408000.0      Asia
2         Brazil  1962   76039390.0  Americas
1      Australia  1957    9712569.0   Oceania
0    Afghanistan  1952    8425333.0      Asia

***Group by in dataframe***

In [60]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Subcategory': ['X', 'Y', 'X', 'Y', 'X'],
    'Value': [10, 20, 15, 25, 30]
}
df = pd.DataFrame(data)
# Group by 'Category' and 'Subcategory' and calculate mean of 'Value'
grouped = df.groupby(['Category', 'Subcategory']).mean().reset_index()
grouped

  Category Subcategory      Value
0        A           X  18.333333
1        B           Y  22.500000

***Altering the Index***

In [61]:
Students = pd.DataFrame({
    'Admission_id': ['AB101', 'AB102', 'AB103', 'AB104', 'AB105'],
    'Student_id': ['21GFG1', '21GFG2', '21GFG3', '21GFG4', '21GFG5'],
    'Student_Name': ['Akhil', 'Mahesh Babu', 'Warner', 'Virat', 'ABD'],
    'Height': [5.9, 6.2, 5.6, 5.8, 5.10]
})

Students.set_index("Admission_id", inplace=False)

             Student_id Student_Name  Height
Admission_id
AB101            21GFG1        Akhil     5.9
AB102            21GFG2  Mahesh Babu     6.2
AB103            21GFG3       Warner     5.6
AB104            21GFG4        Virat     5.8
AB105            21GFG5          ABD     5.1

In [62]:
Students.set_index("Student_id", inplace=True)

In [63]:
Students

           Admission_id Student_Name  Height
Student_id
21GFG1            AB101        Akhil     5.9
21GFG2            AB102  Mahesh Babu     6.2
21GFG3            AB103       Warner     5.6
21GFG4            AB104        Virat     5.8
21GFG5            AB105          ABD     5.1

***Reshaping Data of a dataframe***

In [64]:
# creating and initializing a list
values = [['Monday', 65000, 50000],
		['Tuesday', 68000, 45000],
		['Wednesday', 70000, 55000],
		['Thursday', 60000, 47000],
		['Friday', 49000, 25000],
		['Saturday', 54000, 35000],
		['Sunday', 100000, 70000]]

# creating a pandas dataframe
df = pd.DataFrame(values, columns=['DAYS', 'PATIENTS', 'RECOVERY'])

# displaying the data frame
df

        DAYS  PATIENTS  RECOVERY
0     Monday     65000     50000
1    Tuesday     68000     45000
2  Wednesday     70000     55000
3   Thursday     60000     47000
4     Friday     49000     25000
5   Saturday     54000     35000
6     Sunday    100000     70000

In [65]:
# melting with DAYS as column identifier
reshaped_df = df.melt(id_vars=['DAYS'])

# displaying the reshaped data frame
reshaped_df

         DAYS  variable   value
0      Monday  PATIENTS   65000
1     Tuesday  PATIENTS   68000
2   Wednesday  PATIENTS   70000
3    Thursday  PATIENTS   60000
4      Friday  PATIENTS   49000
5    Saturday  PATIENTS   54000
6      Sunday  PATIENTS  100000
7      Monday  RECOVERY   50000
8     Tuesday  RECOVERY   45000
9   Wednesday  RECOVERY   55000
10   Thursday  RECOVERY   47000
11     Friday  RECOVERY   25000
12   Saturday  RECOVERY   35000
13     Sunday  RECOVERY   70000

***Handling Missing Values***

In [66]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

# creating a dataframe from list
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [67]:
# using isnull() function
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [68]:
# using isnull() function
df.isnull().sum()

First Score     1
Second Score    1
Third Score     1
dtype: int64

***Dropping Missing Values***

In [69]:
df.dropna(inplace=True)

In [70]:
df

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

In [71]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(data)
df=df.fillna(0)
df

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [72]:
# Create a sample DataFrame
data = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(data)

df=df.fillna(method='pad')
df

/tmp/ipykernel_17/2210912642.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='pad')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0